.home{
    padding: 3rem;
}

.HomeContainer{
    
        display: grid;
        grid-template-columns: 1.1fr 2fr; 
        gap: 7rem; 
        padding: 12px

    
}
.homeTitle{
    font-size: 48px;
    font-weight: 600;
    color: black;

}
.homeLeftsideTexCtn{
    display: flex;
    /* flex-direction: column; */
    gap: 12px;
    border: 1px solid #D9D9D9;
    padding: 1rem;
    margin-top: 12px;
    min-width: 100px;
}
.homeLeftsideText{
    font-size: 18px;
    font-family: 400;
    color: black;
}
.homeContainerRightSide{
    max-width: 100%;
    overflow: hidden;
    border:1px solid #F6FAFD;
    border-radius: 12px;

}
  
.s-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-container .swiper {
    width: 100%;
    height: 12rem;
    position: unset;
}
.s-container .swiper-slide {
    background: white;
    display: flex;
    border-radius: 10px;
    padding: 0rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.s-container .swiper-button-prev {
    left: 1rem;
    width:35px; 
    height: 35px;
    background-color: white;
    border-radius: 50%;
}
.s-container .swiper-button-prev::after {
    font-size: 15px; 
    font-weight: 600;
    display: flex;
    justify-content: center;
  }

.s-container .swiper-button-next {
   
    right: 1rem;
    width:35px; 
    height: 35px;
    background-color: white;
    border-radius: 50%;
}
.s-container .swiper-button-next::after {
    font-size: 15px; 
    font-weight: 600;
    display: flex;
    justify-content: center;
  }


.s-container .swiper-button-prev,
.s-container .swiper-button-next {
    color: black;
}
.categorieContainer{
    border: 1px solid #F4F4F4;
     background: #F4F4F4;
     border-radius: 10px;
    padding: 1.2rem;
}
.categorieText{
    font-size: 16px;
    background: white;
    padding: 0.5rem;

}
.categorieImageContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 15px;
}
.grid-containeritem {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px; 
    cursor: pointer;
    /* border: 2px solid white; */

  }
  .catergorieImage{
    width:5rem;
    height: 5rem;
    object-fit: cover;
  }
  .imgContainer{
    border: 1px solid #CCE5F9;
    background-color: #CCE5F9;
    border-radius: 10px;
    padding: 6px 10px;
  }
  .categoryName{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: black;
  }
  .BookedText{
    font-size: 40px;
    font-weight: 500;
    color: black;
    white-space: no-wrap;
  }
  .mostBookedContainer{
    display: flex;
    gap:4.1rem;
    margin-top: 2rem;
  }
  .singleBook{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border: 1px soild grey;
    cursor: pointer;
    
  }
  .bookImage{
    width: 16.5rem;
    height: 16.5rem;
    
    transition: transform 0.3s ease-in-out;
  }
  .singleBook:hover .bookImage {
    transform: scale(1.1); /* Adjust the scale factor for the desired zoom level */
}
  .servicesName{
    font-weight: 500;
    font-size: 18px;
    color: #1c49b2;;
  }
  .bookNowContainer{
    display: flex;
    flex-direction: column;
    /* padding: 0rem 3rem; */
    margin-top: 5rem;
  }
  .bookNow{
    display: flex;
    gap: 6rem;
  }
  .bookNow> img{
    width: 30rem;
    height: 15rem;
    cursor: pointer;
  }
  .popularCategorie{
    font-size: 34px;
    font-weight: 600;
    color: black;
    margin-bottom: 1.5rem;
  }
  .BannerContainer{
    position: relative;
    width: 600px;
    padding: 1rem 19rem;
    height: 15rem;
    background-color: #1993F8;
    margin-top: 3rem;
    border-radius: 19px;
  }
  .bannerImageConatiner{
    position: absolute;
    left: -17px;
    top: -48px;
    padding: 1rem;
  }
  .bannerImageConatiner>img{
    width: 19rem;
    height: 19rem;
    object-fit: cover;
  }
  .bannerText01{
    position: absolute;
    top: 70px;
    left: 300px;
    font-size: 1.3rem;
    line-height: 2rem !important;
    padding: .2rem 0;
    color: white;
    white-space: nowrap;
    /* margin: 0px 0px 5rem 0px; */
    
  }
  .bannerText02{
    position: absolute;
    top: 90px;
    left: 300px;
    font-size: 24px;
    line-height: 4rem !important;
    padding: .2rem 0;
    color: white;
    white-space: nowrap;
    font-family: 600;
    /* margin: 0px 0px 5rem 0px; */

  }
  .bannerText03{
    font-size: 1rem;
    line-height: 3rem;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 150px;
    left: 300px;
    white-space: nowrap;

  }
  .bannerGoogleImage{
    position: absolute;
    bottom: 90px;
    left: 300px;
    display: flex;
    gap: 3rem;
  }
 